$modal-content-border-color: white;
$modal-content-border-radius: 10px;  
$modal-transition: transform .1s ease-out;
$modal-header-border-color:  white;
$btn-border-radius: 6px;
$font-family-sans-serif:'Poppins', sans-serif;
$modal-sm: 430px;


@import '../../node_modules/bootstrap/scss/bootstrap.scss'